.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

/* App.js selectors */
.main-container {
  display: flex;
  flex-direction: row;
}

.featured-products {
  display: flex;
  flex-grow: 25;
  flex-shrink: 7;
}

/* Nav bar component */
.nav-bar {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  background-color: #222;
  border: 0.2em double white;
  color: whitesmoke;
}

ul {
  border: 2px solid pink;
  margin: 0em;
  padding: 0em;
}

li {
  border: 2px solid white;
  list-style: none;
  margin: 0em;
  padding: 1em 2.2em 0.8em 2em;
}

.nav-button {
  border: 0.1em solid blue;
  border-radius: 1em;
  padding: 0.5em;
}

/* Featured Products */
.featured-wrap {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.featured-item {
  height: 33%;
  width: 33%;
}